div.nav-wrapper {
  padding-left: 30rem;
  padding-right: 30rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.nav-menu-left {
  float: left;
}

.nav-menu-right {
  float: right;
}

li {
  display: inline-block;
}

li a {
  display: block;
  font-weight: bold;
  color: #252525;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
}
