.post-header {
  font-family: "Raleway", "Roboto", sans-serif !important;
  font-size: 2.5rem !important;
}

img {
  max-width: 100%;
  height: auto;
}

.recent-posts {
  letter-spacing: 3px !important;
  font-size: 1.5em !important;
}

.link > a {
  color: #1b1c1d;
}

.link > a:hover {
  color: grey;
  text-decoration-line: underline;
}

@media (max-width: 425px) {
  .hide-if-mobile {
    display: none !important;
  }
}
